@font-face {
  font-family: 'Montserrat';
  src: local('Montserrat'),
    url(../../../assets/fonts/montserrat/Montserrat-Regular.ttf)
      format('opentype');
}

.titleBig {
  font-size: 40px;
  line-height: 52px;
  font-weight: 700;
  font-family: Montserrat;
}

.bodyTitle {
  font-size: 20px;
  line-height: 24px;
  font-weight: 700;
  font-family: Montserrat;
}

.bodyBold {
  font-size: 16px;
  line-height: 17px;
  font-weight: 700;
  font-family: Montserrat;
}

.bodyText {
  font-size: 16px;
  line-height: 17px;
  font-weight: 400;
  font-family: Montserrat;
}

.bodySmall {
  font-size: 14px;
  line-height: 20px;
  font-weight: 400;
  font-family: Montserrat;
}
